name: Pumpkin ARM64 Docker

on:
  workflow_dispatch:

jobs:
  build-arm64-docker:
    runs-on: ubuntu-24.04
    permissions:
      packages: write

    steps:
    - name: Checkout (only for Dockerfile)
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build ARM64 image
      uses: docker/build-push-action@v5
      with:
        context: .
        platforms: linux/arm64
        push: true
        tags: ghcr.io/${{ github.repository_owner }}/pumpkin:arm64
