name: Build Pumpkin ARM64

on:
  workflow_dispatch:

jobs:
  build-arm64:
    runs-on: ubuntu-24.04

    steps:
    - name: Clone Pumpkin
      run: |
        git clone https://github.com/Pumpkin-MC/Pumpkin.git
        cd Pumpkin
        git submodule update --init --recursive

    - name: Install deps
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          gcc-aarch64-linux-gnu \
          pkg-config \
          libssl-dev

    - name: Install Rust
      run: |
        curl https://sh.rustup.rs -sSf | sh -s -- -y
        source $HOME/.cargo/env
        rustup target add aarch64-unknown-linux-gnu

    - name: Build Pumpkin ARM64
      run: |
        source $HOME/.cargo/env
        cd Pumpkin
        export CC_aarch64_unknown_linux_gnu=aarch64-linux-gnu-gcc
        export PKG_CONFIG_ALLOW_CROSS=1
        cargo build -p pumpkin --release --target aarch64-unknown-linux-gnu

    - name: Upload binary
      uses: actions/upload-artifact@v4
      with:
        name: pumpkin-linux-arm64
        path: Pumpkin/target/aarch64-unknown-linux-gnu/release/pumpkin
